@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Chakra Petch', sans-serif;
  background-color: var(--background);
  background: #000;
  
}

/* Default Theme */
.default-theme {
  --background: #000; /* Darker solid color */
  --foreground: #a064ee; /* Brighter foreground for contrast */
  --accent-1: #7c4dff;
  --accent-2: #6a1b9a;
  --accent-3: #4a148c;
  --accent-4: #2d1b5a;
}

/* New Theme based on the provided palette */
.new-theme {
  --background: #000; /* Darker solid color */
  --foreground: #06cfce; /* Brighter foreground for contrast */
  --accent-1: #292a50;
  --accent-2: #285b77;
  --accent-3: #0b959f;
  --accent-4: #06cfce;
  --accent-5: #d3167c;
  --accent-6: #8d155e;
}

/* Cyberpunk Purple and Black Theme */
.cyberpunk-purple-theme {
  --background: #000; /* Even darker solid color */
  --foreground: #e0aaff; /* Brighter purple for contrast */
  --accent-1: #6a1b9a;
  --accent-2: #9c27b0;
  --accent-3: #ce93d8;
  --accent-4: #ffffff;
}

/* Cyberpunk Red and Black Theme */
.cyberpunk-red-theme {
  --background: #000; /* Even darker solid color */
  --foreground: #ff6b6b; /* Brighter red for contrast */
  --accent-1: #d32f2f;
  --accent-2: #b71c1c;
  --accent-3: #ff5252;
  --accent-4: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  font-family: var(--font-family);
  transition: background 0.5s ease-in-out, color 0.3s ease-in-out;
}

/* Granular Noise Effect as a Reusable Class */
.granular-effect {
  position: relative;
}

.granular-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 1;
  mix-blend-mode: overlay;
  z-index: 1;
}

.granular-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 2px,
    rgba(255, 255, 255, 0.05) 2px,
    rgba(255, 255, 255, 0.05) 4px
  );
  z-index: 2;
  opacity: 0.5; /* Adjust opacity to make it subtle or more pronounced */
}

/* Global Focus Styles */
@layer utilities {
  .focus-custom {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-2);
  }
}