@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background);
  background: #000;
}

/* Dark Violet */
.dark-violet {
  --background: #000;
  --foreground: #a064ee;
  --accent-1: #7c4dff; /* Strongest */
  --accent-2: #6a1b9a;
  --accent-3: #4a148c;
  --accent-4: #2d1b5a;
  --accent-5: #ff4081; /* Secondary */
  --accent-6: #c2185b; /* Secondary */
}


/* Neon Aqua */
.neon-aqua {
  --background: #000;
  --foreground: #06cfce;
  --accent-1: #06cfce; /* Strongest */
  --accent-2: #0b959f;
  --accent-3: #285b77;
  --accent-4: #292a50;
  --accent-5: #d3167c; /* Secondary */
  --accent-6: #8d155e; /* Secondary */
}

/* Cyberpunk Violet */
.cyberpunk-violet {
  --background: #000;
  --foreground: #e0aaff;
  --accent-1: #ce93d8; /* Strongest */
  --accent-2: #9c27b0;
  --accent-3: #6a1b9a;
  --accent-4: #ffffff;
  --accent-5: #ff4081; /* Secondary */
  --accent-6: #c2185b; /* Secondary */
}


/* Cyberpunk Crimson */
.cyberpunk-crimson {
  --background: #c6b9b9;
  --foreground: #ff6b6b;
  --accent-1: #ff5252; /* Strongest */
  --accent-2: #d32f2f;
  --accent-3: #b71c1c;
  --accent-4: #ffffff;
  --accent-5: #ff9800; /* Secondary */
  --accent-6: #ff5722; /* Secondary */
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  font-family: var(--font-family);
  transition: background 0.5s ease-in-out, color 0.3s ease-in-out;
}

/* Granular Noise Effect */
.granular-effect {
  position: relative;
}

.granular-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 1;
  mix-blend-mode: overlay;
  z-index: 1;
}

.granular-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 2px,
    rgba(255, 255, 255, 0.05) 2px,
    rgba(255, 255, 255, 0.05) 4px
  );
  z-index: 2;
  opacity: 0.5;
}

/* Global Focus Styles */
@layer utilities {
  .focus-custom {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-2);
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--accent-1);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--background);
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--accent-1);
}

